@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    margin: 0px; 
}

.all-content {
    width: auto;
    margin: 0px;
}

p {
    font-family:'Montserrat', sans-serif;
    color: #000000;
    font-size: 17px;
    line-height: 29px;
    margin-bottom: 40px;
}

h1 { /* job title */
    font-family:'Montserrat', sans-serif;
    font-size: 40px;
    margin: 0px;
}

h2 {
    font-family:'Montserrat', sans-serif;
    font-size: 22px;
    color: #ffffff;
    background-color: #ff9100;
    margin-top: 40px;
    padding: 5px 13px;
}

h3{
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    color: #ff9100;
    line-height: 25px;
}

/* Header section */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(./Images/background_img.jpg);
    background-size: cover;
    width: auto;
    height: 490px;
}

.header-icons {
    display: flex;
    position: absolute;
    padding-top: 80px;
    padding-left: 50%;
}

.linkedin-header-icon, .github-header-icon, .stackoverflow-header-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 39px;
    height: 39px;
    margin: 3px;
    border: solid 3px #ff9100;
    border-radius: 50%;
    background-color:#ff9100;
}

.header-icon-img {
    display: flex;
    width: 15.4px;
    height: 14.75px;
}

.portfolio-wrapper { /* contains the name of the portfolio and job title */
    width: 80%;
}

.portfolio-info {
    display: flex;
    width: 100%;
    padding-top: 170px;
}

.portfolio { /* p-class */
    float: left;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    width: 80px;
    margin: 0px 0px 0px 5px;
}

.portfolio-name { /* p-class */
    float: right;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin: 0px; 
}

.job-title {
    width: 100%;
}

.job-title h2 {
    color: #000000;
    font-size: 20px;
    background-color: transparent;
    line-height: 49px;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.profile-image { 
    position: absolute;
    width: 162px;
    height: 162px;
    border-radius: 50%;
}

/* Common styling for all other sections */
.summary-section, .tech-section, .summary, .technologies, .projects, .top-projects, .featured-projects, .other-projects, .project-container, .thoughts, .all-skills, .skills, .for-more {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Summary section */
.summary-section {
    background-color: #F4F4F4;
    width: 100%;
}

.summary {
    background-color: #F4F4F4;
    word-wrap: break-word;
    width: 80%;
    padding-top: 60px;
    padding-bottom: 40px;
}

.summary-line {
    display: inline-flex;
    width: 50px;
    height: 4px;
    margin-left: 1px;
    margin-bottom: 4.5px;
    background-color: #ff9100;
}

.summary-dot {
    display: inline-flex;
    width: 12px;
    height: 12px;
    margin-left: -6px;
    margin-right: 14px;
    border-radius: 50%;
    background-color: #ff9100;
}

/* Technologies section */
.technologies {
    width: 80%;
}

.technologies p {
    text-align: center;
}

.projects {
    background-color: #F4F4F4;
}

/* Common styling for featured-projects & other-projects */
.featured-projects, .other-projects {
    background-color: #F4F4F4;
    padding-bottom: 20px;
    width: 80%;
}


.project-container { /* each individual project */
    width: 300px;
    margin: 20px 0px 20px 0px;
}

.arrows {
    color: #ff9100;
    text-decoration: underline;
}

span:hover { /* hover effect on arrows */
    color: #ffffff;
    background-color: #ff9100;
}

.tag-container {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    width: 100%;
}

.tag {
    display: inline-flex;
    background-color: #ff9100;
    padding: 3px 6px;
    margin-top: 25px;
}

.tag:hover {
    color: #ffffff;
    background-color: #000000;
}

/* Featured projects */
.featured-projects p {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    line-height: 25px;
    float: right;
    margin-bottom: -15px;
}

.featured-projects h3 {
    margin: 3px 0px -15px 0px;
}

.featured-projects img {
    width: 300px;
    height: 180px;
    margin-bottom: 5px;
}

.featured-projects a:link, a:visited { 
    color:  #ffffff;
    text-decoration: none;
}

/* Other projects */
.other-projects p {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    line-height: 25px;
    float: right;
    margin-bottom: -15px;
}

.other-projects h2 { 
    color: #ff9100;
    background-color: transparent;
    margin: 10px 0px 5px 0px;
}

.other-projects h3{ 
    margin: 3px 0px -15px 0px;
}

.other-projects a:link, a:visited {
    color:  #ffffff;
    text-decoration: none;
}

/* Thoughts section */
.thoughts h3 {
    font-family:'Montserrat', sans-serif;
    font-size: 21px;
    color: #000000;
}

/* Skills sections */
.all-skills {
    background-color: #F4F4F4;
    padding-bottom: 20px;
}

.skills {
    background-color: #F4F4F4;
    width: 80%;
    padding-bottom: 40px;
}

.skills h3 {
    color: #ff9100;
    text-align: center;
    font-weight: bold;
    margin-bottom: 6px;
}

.skills-container {
    width: 80%;
    height: auto;
    padding: 0px;

}

ul {
    display: inline;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    color: #000000;
    text-align: center;
    line-height: 25px;
    list-style: none;
    width: 80px;
    height: auto;
    margin: 0px;
    padding: 0px;
}

/* For more section */
.for-more {
    margin-bottom: 40px;
}

.bottom-icons {
    display: flex;
}

.linkedin-bottom-icon, .github-bottom-icon, .stackoverflow-bottom-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 59px;
    height: 58px;
    margin: 10px;
    background-color: #ff9100;
    border-radius: 50%;
}

.bottom-icon-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 29x;
    height: 28px; 
}

.linkedin-bottom-icon:hover, .github-bottom-icon:hover, .stackoverflow-bottom-icon:hover {
    background-color:#156900;
}

/* Footer */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #979797;
    padding: 35px 0px;
}

footer h3 {
    font-family:'Montserrat', sans-serif;
    font-size: 21px;
    color: #ffffff;
    margin-top: 0px;
}

footer p {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    color: #ffffff;
    text-align: center;
    margin: 0px;
}

footer a:link, a:visited {
    text-decoration: none;
}

footer a:hover {
    font-weight: bold;
}



                                          /* TABLET VERSION */
@media screen and (min-width: 768px) {
  /* Header section */
header {
    height: 560px;
}

.header-icons {
    padding-right: 50px;
}

h1 { /* job title */
    font-size: 55px;
    margin-left: 90px;
}

.portfolio { /* p-class */
    margin-left: 95px;
}

.job-title h2 {
    font-size: 20px;
    margin-left: 90px;
    width: 250px;
}

.profile-image { 
    width: 200px;
    height: 200px;
    margin-left: 50px;
}

/* Summary section */
.summary {
    width: 60%;
}

.technologies {
    width: 60%;
}

.other-projects .project-container {
    width: 550px;
}
    
.skills {
    flex-direction: row;
    flex-wrap: wrap;
    width: 60%;
    padding-bottom: 0px;
}

.skills-container {
    width: 200px;
    height: 200px;
}

}

                                            /* DESKTOP VERSION */
@media screen and (min-width: 1366px) {
    /* Header section */
header {
    height: 650px;
}

p {
    font-size: 20px;
}

h1 { /* job title */
    font-size: 70px;
    margin-left: 220px;
}

h2 {
    font-size: 30px;
}

h3{
    font-size: 20px;
}

  .portfolio { /* p-class */
    font-size: 20px;
    width: 125px;
    margin-left: 220px;
}

.portfolio-name { /* p-class */
    font-size: 20px;
}

.job-title h2 {
    font-size: 25px;
    margin-left: 220px;
    width: 350px;
}

.profile-image { 
    width: 250px;
    height: 250px;
    margin-left: 140px;
}

/* Summary section */
.summary {
    width: 55%;
}

.technologies {
    width: 60%;
}

/* Featured projects */
.top-projects { /*wraps all featured projects */
    width: 100%;
}

.featured-projects {
    flex-direction: row;
    flex-wrap: wrap;
}

.featured-projects .project-container {
    width: 340px;
    margin: 30px 10px;   
}

.featured-projects p {
    font-size: 19px;
}

.featured-projects img {
    width: 320px;
    height: 220px;
}

/* Other projects */
.other-projects p {
    font-size: 19px;
}

.other-projects .project-container {  /* HOW TO GET THESE ALIGNED TO THE LEFT?! */
    width: 550px;
}

/* Skills section */
.skills {
    flex-direction: row;
    flex-wrap: wrap;
    width: 60%; 
    padding-bottom: 0px;
}

.skills-container {
    width: 200px;
    height: 200px;
}

ul {
    font-size: 19px;
}

/* Footer */

footer h3 {
    font-size: 25px;
}

footer p {
    font-size: 19px;
}


}