@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    margin: 0px; 
}

/* Header section */
header {
    background-color: #dfd3c3;
    width: auto;
    height: 490px;
}

.header-icons {
    display: flex;
    position: absolute;
    padding-top: 80px;
    padding-left: 200px;
    cursor: pointer;  
}

.linkedin-header-icon, .github-header-icon, .stackoverflow-header-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 39px;
    height: 39px;
    margin: 2px;
    border: solid 3px #ffffff;
    border-radius: 50%;
}

.header-icon-img {
    display: flex;
    width: 15.4px;
    height: 14.75px;
}

.portfolio-info {
    display: flex;
    padding-left: 46px;
    padding-top: 170px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 13px;
    color: #ffffff;
    text-align: left;
}

.portfolio {
    float: left;
    margin: 0px;
}

.portfolio-name {
    float: right;
    margin-left: 20px; 
}

.job-title h1 {
    font-family:'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 40px;
    color: #ffffff;
    line-height: 49px;
    width: 280px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 41px;  
}

.profile-image-div {
    padding-left: 176px;
}

.profile-image {
    position: absolute;
    width: 160px;
    height: 165px;
    border: solid 3px #ffffff;
    border-radius: 50%;
}

/* Common styling for all other sections */
.top-section-1, .top-section-2, .summary, .technologies, .featured-projects, .other-projects, .skills, .for-more, .contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Summary section */
.top-section-1 {
    background-color: #c7b198;
}

.summary {
    background-color: #c7b198;
    font-family:'Montserrat', sans-serif;
    font-size: 17px;
    color: #ffffff;
    word-wrap: break-word;
    width: 310px;
    padding-left: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.summary-line {
    display: inline-flex;
    width: 45px;
    height: 4px;
    margin-left: 0px;
    margin-bottom: 4px;
    background-color: #ffffff;
}

.summary-dot {
    display: inline-flex;
    width: 13px;
    height: 13px;
    margin-left: -2px;
    margin-right: 12px;
    border-radius: 50%;
    background-color: #ffffff;
}

/* Technologies section */


.top-section-2 h2{
    font-family:'Montserrat', sans-serif;
    color: #ffffff;
    background-color: #596e79;
    margin-top: 40px;
    padding: 5px 13px;
}

.top-section-2 p {
    font-family:'Montserrat', sans-serif;
    font-size: 17px;
    text-align: center;
    width: 300px;
    margin-bottom: 40px;
}


/* Featured projects section */
.featured-projects {
    background-color: #c7b198;
}

.featured-projects a:link, a:visited {
    color:  #ffffff;
    text-decoration: none;
}

.featured-projects a:hover {
    color: #596e79;
}

.featured-projects h2 {
    font-family:'Montserrat', sans-serif;
    color: #ffffff;
    background-color: #596e79;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
    padding: 5px 13px;
}

.featured-projects h3{
    font-family: 'Roboto', sans-serif;
    font-size: 17px;

}

.featured-projects p {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
}

.featured-projects div {
    display: inline-flex;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
}

.arrows {
    color: #ffffff;
    text-decoration: underline;
}
.weather-app {
    width: 300px;
}

.featured-projects img, .other-projects img {
    width: 300px;
    height: 180px;
    filter: grayscale(50%);
}


